@{
    ViewBag.Title = "About";
}
<br />
<br />

<p>
    We are teachers, IT professionals and app developers.

    We teachers want to find the best ways to teach and motivate students. We find our needs of tools for
    better teaching still cannot be met, so we decide to take matters into our own hands by building
    our own tools and systems.
    <br><br>
    We developers and IT professionals do our best to minimize the cost of building, running, maintaining
    and extending the systems.

</p>
