@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<address>
    Where are located in Los Angeles, CA
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:info@efficientlearningzone.com/">info@efficientlearningzone.com</a><br />
</address>